{% extends 'base.html.twig' %}

{% block title %}Editer la Réservation{% endblock %}

{% block body %}
    <h1>Editer la Réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_index') }}">Retour à la liste</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
