{% extends 'base.html.twig' %}

{% block title %}Editer Horaire{% endblock %}

{% block body %}
    <h2>Editer Horaire</h2>

    {{ include('horaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>

    {{ include('horaire/_delete_form.html.twig') }}
{% endblock %}
