{% extends 'base.html.twig' %}

{% block title %}Nouvel Horaire{% endblock %}

{% block body %}
    <h1>Créer nouvel Horaire</h1>

    {{ include('horaire/_form.html.twig') }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>
{% endblock %}
