{% extends 'base.html.twig' %}

{% block title %}Nouvel Horaire{% endblock %}

{% block body %}
    <h2>Créer nouvel Horaire</h2>
    <p>Lorsque le restaurant est fermé, veuillez laisser les valeurs par défaut, à savoir 00:00 pour le début et la fin.</p>

    {{ include('horaire/_form.html.twig') }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>
{% endblock %}
