.deconnecter, .connecter, .sinscrire {
    background-color: #A593E0 !important;
    font-family: montserrat ;
    border: none;
}

.separation {
    background-color: #A593E0 !important;
    height: 10px !important;
}

h2 {
    font-family: montserrat !important ;
}

p  {
    font-family: tahoma !important ;
    font-size: 1.1rem;
}

.menu_items {
    font-family: montserrat ;
}

.bas_de_page {
    background-color: #A593E0 !important;
}

.horaires {
    font-family: montserrat ;
}

.jour  {
    font-family: tahoma ;
}

.centered {
    font-family: tahoma;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}