.deconnecter, .connecter, .sinscrire {
    background-color: #A593E0 !important;
    font-family: montserrat ;
    border: none;
}

.separation {
    background-color: #A593E0 !important;
    height: 10px !important;
}

.menu_items {
    font-family: montserrat ;
}

.bas_de_page {
    background-color: #A593E0 !important;
}

.horaires {
    font-family: montserrat ;
    
}
.jour {
    font-family: tahoma ;
}