{% extends 'base.html.twig' %}

{% block title %}Editer les formules{% endblock %}

{% block body %}
    <h2>Editer les formules</h2>

    {{ include('formule/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_formule_index') }}">retour à la liste</a>

    {{ include('formule/_delete_form.html.twig') }}
{% endblock %}
