{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formule{% endblock %}

{% block body %}
    <h2>Créer une nouvelle formule</h2>

    {{ include('formule/_form.html.twig') }}

    <a href="{{ path('app_formule_index') }}">Retour à la liste</a>
{% endblock %}
