{% extends 'base.html.twig' %}

{% block title %}Editer les catégories{% endblock %}

{% block body %}
    <h2>Editer les catégories</h2>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">Retour à la liste</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
