{% extends 'base.html.twig' %}

{% block title %}Editer le Menu{% endblock %}

{% block body %}
    <h2>Editer le Menu</h2>

    {{ include('menu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_menu_index') }}">Retour à la liste</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
