{% extends 'base.html.twig' %}

{% block title %}Nouveau Menu{% endblock %}

{% block body %}
    <h1>Créer nouveau Menu</h1>

    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('app_menu_index') }}">Retour à la liste</a>
{% endblock %}
