<form method="post" action="{{ path('app_plat_delete', {'id': plat.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
    <button class="btnPrincipal btn">Supprimer</button>
</form>
