{% extends 'base.html.twig' %}

{% block title %}Nouveau Plat{% endblock %}

{% block body %}
    <h1>Créer nouveau Plat</h1>

    {{ include('plat/_form.html.twig') }}

    <a href="{{ path('app_plat_index') }}">retour à la liste</a>
{% endblock %}
